In [1]:
import numpy as np 
import pandas as pd

test =pd.read_csv('data/test.csv')
train = pd.read_csv('data/train.csv')

In [2]:
train['Cabin'].value_counts()

Cabin
G6             4
C23 C25 C27    4
B96 B98        4
F2             3
D              3
              ..
E17            1
A24            1
C50            1
B42            1
C148           1
Name: count, Length: 147, dtype: int64

In [3]:
train['CabinBool'] = train['Cabin'].notnull().astype(int)


train['Grade'] = train['Cabin'].str[0]  
train['Grade'] = train['Grade'].fillna('Unknown')

In [4]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
train['Grade'] = encoder.fit_transform(train['Grade'])

In [5]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1

In [6]:
# def categorize_fare(fare):
    # if age < 15:
    #     return 'Child'
    # elif age < 20:
    #     return 'Teen'
    # elif age < 44:
    #     return 'Adult'
    # else:
    #     return 'Senior'

# train['AgeGroup'] = train['Age'].apply(categorize_age)

# train = pd.get_dummies(train, columns=['AgeGroup'], prefix='Age')

rich = train['Fare'].quantile(0.9)
print(rich)

77.9583

In [7]:
train = pd.get_dummies(train, columns=['Sex'])

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,CabinBool,Grade,FamilySize,Sex_female,Sex_male
0,1,0,3,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,8,2,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,2,2,True,False
2,3,1,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,8,1,True,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,1,2,2,True,False
4,5,0,3,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,0,8,1,False,True

In [10]:
train_input = train[['Pclass', 'Age', 'Fare', 'CabinBool', 'Grade', 'FamilySize','Sex_female', 'Sex_male' ]]

In [11]:
train_target = train[['Survived']]

In [12]:
train_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Age         714 non-null    float64
 2   Fare        891 non-null    float64
 3   CabinBool   891 non-null    int64
 4   Grade       891 non-null    int64
 5   FamilySize  891 non-null    int64
 6   Sex_female  891 non-null    bool
 7   Sex_male    891 non-null    bool
dtypes: bool(2), float64(2), int64(4)
memory usage: 43.6 KB

In [13]:
train_input['Age'] = train_input['Age'].fillna(train_input['Age'].median())

C:\Users\1-03\AppData\Local\Temp\ipykernel_10100\53076346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_input['Age'] = train_input['Age'].fillna(train_input['Age'].median())

In [14]:
test['Age'] = test['Age'].fillna(test['Age'].median())
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

In [18]:
test['CabinBool'] = test['Cabin'].notnull().astype(int)


test['Grade'] = test['Cabin'].str[0]  
test['Grade'] = test['Grade'].fillna('Unknown')  

test['Grade'] = encoder.fit_transform(test['Grade'])

test['FamilySize'] = test['SibSp'] + test['Parch'] + 1

# test['AgeGroup'] = test['Age'].apply(categorize_age)

# test = pd.get_dummies(test, columns=['AgeGroup'], prefix='Age')
test = pd.get_dummies(test, columns=['Sex'])

test_input = test[['Pclass', 'Age', 'Fare', 'CabinBool', 'Grade', 'FamilySize','Sex_female', 'Sex_male' ]]

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate
rf = RandomForestClassifier(n_estimators=500, max_depth=3, random_state=1)
scores_rf = cross_validate(
    rf, train_input, train_target,
    return_train_score=True, n_jobs=-1)
print(scores_rf)

{'fit_time': array([1.55233741, 1.62388396, 1.5849576 , 1.58821535, 1.49909329]), 'score_time': array([0.07878041, 0.06105947, 0.07967329, 0.07315922, 0.05721641]), 'test_score': array([0.77094972, 0.82022472, 0.81460674, 0.79775281, 0.82022472]), 'train_score': array([0.8244382 , 0.81907433, 0.81767181, 0.82187938, 0.81626928])}

In [19]:
rf.fit(train_input, train_target)
print(rf.feature_importances_)

C:\Users\1-03\Desktop\DAMF2\ml\venv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[0.09311944 0.04454018 0.08802011 0.05726822 0.08220948 0.04455277
 0.30601445 0.28427535]

In [20]:
rf.fit(train_input, train_target)
predictions = rf.predict(test_input)


output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

C:\Users\1-03\Desktop\DAMF2\ml\venv\Lib\site-packages\sklearn\base.py:1389: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Your submission was successfully saved!